<!-- <h1>MAPS!</h1> -->
<div id="map-canvas"></div>


<div id="legend" style="z-index: 0; position: absolute; bottom: 100px; left: 100px;">
  <h4 id="legend_title">Legend</h4>
  <div> <%= image_tag('sf.png', size: "20x30") %><label>&nbsp San Francisco</label></div>

  <div><%= image_tag('chicago.png', size: "20x30") %><label>&nbsp Chicago</label></div>
</div>
