<nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
<!--       <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> -->
    </button>
    <a class="navbar-brand" href="/">BootyTracker</a>
  </div>
<img src="">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

      <li class="active"><a href="/auth/dbc">Login</a></li>
      <li><a href="/auth/logout">LogOut</a></li>
      <% if @user %>
      <a href=<%= "/users/#{@user.id}/edit" %>>
      <%= gravatar_image_tag(@user.email, :alt => @user.name, :id => "profile_image", :style => "width:50px;height:50px; border-radius:100%;")  %></a><br/>
      <!-- <h6>Hi <%=@user.name %> miss butt rubbing already?</h6> -->
      <% end %>


    </ul>
    <form class="navbar-form navbar-left">
       <label class="checkbox">
      <input type="checkbox" class="nav-checkbox" value="option1"> San Francisco
    </label>
    <label class="checkbox">
      <input type="checkbox" class="nav-checkbox" value="option2"> Chicago
    </label>

  </form>
</div>
</nav>