        <h2 class="team">Developer Team</h2>

       <div class="container marketing">
      <!-- Three columns of text below the carousel -->


          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://1.gravatar.com/avatar/056b8ecb67eade75d571f20a7fb6e5aa?d=https%3A%2F%2Fidenticons.github.com%2F59789d8275422ac999ee3391b2c4d89e.png&amp;r=x&amp;s=440">
            <h2>Stephen Nguyen</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/Stephenitis" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
             <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://2.gravatar.com/avatar/7816c0ae2d5ce27d52179fbde3587c22?d=https%3A%2F%2Fidenticons.github.com%2F920ec91a9fb1e38314e4ba60ec4329b6.png&amp;r=x&amp;s=440">
            <h2>Kenneth Yu</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/cpkenn09y" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://secure.gravatar.com/avatar/f5054d4a67c382441e2310b819dc4f76.png?r=PG&d=mm&s=150">
            <h2>Elaine Yu</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/ElaineYu" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://2.gravatar.com/avatar/15e355ea57548acd874391a6d14d3995?d=https%3A%2F%2Fidenticons.github.com%2Fadb280d9f29c75d4a7c1deeb6058c353.png&amp;r=x&amp;s=440">
            <h2>Steven Nugent</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://github.com/Steveo1485" role="button">View Github</a></p>
          </div><!-- /.col-lg-4 -->
      <hr class="featurette-divider">

      <br><br><br><br>
  </div>