/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar {
  margin: 0 0 0 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  padding:0 100px 0 100px;
}

#profile_image{
  float:left;
  display:block;
}

#map-canvas {
  margin-top: -72px  !important;
  height:100%;
  width:100%;
  overflow: visible !important;
}

.checkbox{
  float:right;
  display:block;
}

.navbar-collapse {
  padding-bottom: 15px;
}

.navbar-brand {
  color: white;
  padding: 35px 15px 5px;
}

.navbar-nav li a{
  color: white;
}

#radio-buttons {
  color:white;
}

#radio-buttons label {

}

body{
  font-family: 'Voces', cursive;
}

strong{
  font-weight: 900;
  font-style: d
}

.user-input{
  width:80%;
  min-width: 250px;
}

.container{

}

.back-image{
  background-image: url("boot.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 800px;
}

.alert{
  width:60%;
}

.profile-preview{
  padding: 25px 0 50px 75px;
  border:1px solid black;
  -moz-border-radius-bottomright: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  -moz-border-radius-topleft: 100px 100px;
  border-top-left-radius: 100px 100px;
  text-align: left;
}

.profile-form{
  min-width: 400px;
  padding: 25px 0 50px 25px;
  border:1px solid black;
  -moz-border-radius-bottomleft: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  -moz-border-radius-topright: 100px 100px;
  border-top-right-radius: 100px 100px;
  margin-right: 30px;
  width:40%;
}

#big-profile-image{
  width:50%;
  height:50%;
  -moz-border-radius-bottomright: 75px 75px;
  border-bottom-right-radius: 75px 75px;
  -moz-border-radius-topleft: 75px 75px;
  border-top-left-radius: 75px 75px;
  margin-top: 25px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.content-box {
  width: 10%;
  min-width: 200px;
  height:auto;
}

.profile_image {
  float:right;
}